# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/workspace.xml
backup/
/tests/node_modules/
/tests/debug.log
/assets/images/backgrounds/custom-background.psd
/_site/*
/assets/images/demos/WIP/*
/node_modules/*
