/* do not show modal on mobile */
@media screen and (max-width: 767px) {

    .demoLinkContainer {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    body {
        padding: 2.5em 5%;
        font-size: 15pt;
    }

    #header img {
        width: 10em;
        height: 10em;
    }

    h1 {
        font-size: 2.5em;
    }

    .section {
        margin-bottom: 3em;
        padding: 3em 7% !important;
    }

    .customList, #skillsContainer {
        padding-left: 10%;
        padding-right: 10%;
    }

    .greeting {
        text-align: center;
    }

    .toggle {
        margin-top: 2em;
    }

    .demoLinkContainer {
        display: block;
    }

    div.jobTitle {
        text-align: left;
    }

    div.period {
        text-align: right;
    }

    #followMeSection > div div {
        padding: 0;
    }

    #followMeSection > div div:first-child a {
        float: right;
    }

    #followMeSection > div div:last-child a {
        float: left;
    }

    #followMeSection .contactIcon {
        width: 2.5em;
        height: 2.5em;
        margin: 0 0.5em;
    }

    @media (hover: hover) {

        .contactIcon:hover {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: transform;
            transition: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

    }

    #upArrowNavigator img {
        right: 2%;
    }

    #copyright > p {
        display: block;
    }

    #copyright div.row {
        display: none;
    }

    #error-area img {
        height: 8em;
    }

}

@media screen and (width: 768px) {

    .projectContent {
        min-height: 12em;
    }

}

@media screen and (min-width: 769px) {

    #skillsSection hr {
        display: none;
    }

    .customList, #skillsContainer {
        padding-left: 15%;
        padding-right: 10%;
    }

    .projectContent {
        min-height: 11em;
    }

    #copyright {
        margin-bottom: 0;
    }

}

@media screen and (width: 1024px) {

    #skillsContainer {
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (min-width: 1025px) {

    .section {
        padding: 3em 10%;
    }

    .customList {
        padding-left: 25%;
        padding-right: 17%;
    }

    .projectContent {
        min-height: 13.5em;
    }

}

@media screen and (min-width: 1441px) {

    body {
        padding: 2.5em 10%;
    }

    #upArrowNavigator img {
        right: 4%;
    }

    /*#coursesSection .customList {*/
        /*padding-left: 35%;*/
        /*padding-right: 30%;*/
    /*}*/

}

/* ultra-wide */
/*@media screen and (min-width: 1921px) {*/

/*}*/